.searchInput,
.searchButton{
  padding: 0.5rem;
  font-size: 13px;
  border: none;
  background: white;
}
.searchInput:focus,
.searchButton:focus{
    outline: none;
}
.searchInput {
    width: 232px;
}
.searchButton{
    color: #d88771;
    cursor: pointer;
    margin-left: -5px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    transition:  all 0.3s ease;
}

.searchButton:hover {
    background:#d88771;
    color: white;
    outline: none;
}

.empty {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

  .card{
    padding: 0 15px;
    min-height: 140px;
  }
  .card .card-body {
    padding: 0;
  }
