.searchInput,
.searchButton{
  padding: 0.5rem;
  font-size: 13px;
  border: none;
  background: white;
}
.searchInput:focus,
.searchButton:focus{
    outline: none;
}
.searchInput {
    width: 232px;
}
.searchButton{
    color: #d88771;
    cursor: pointer;
    margin-left: -5px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    transition:  all 0.3s ease;
}

.searchButton:hover {
    background:#d88771;
    color: white;
    outline: none;
}
