.searchInput,
.searchButton{
  padding: 0.5rem;
  font-size: 13px;
  border: none;
  background: white;
}
.searchInput:focus,
.searchButton:focus{
    outline: none;
}
.searchInput {
    width: 232px;
}
.searchButton{
    color: #d88771;
    cursor: pointer;
    margin-left: -5px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    transition:  all 0.3s ease;
}

.searchButton:hover {
    background:#d88771;
    color: white;
    outline: none;
}

.empty {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

.card {
  min-height: 190px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.12), 0 2px 10px 0 rgba(0, 0, 0, 0.11);
  -webkit-transition: .25s box-shadow;
  transition: .25s box-shadow;
}
.card .card-title,
.card .card-body {
  padding: 0 15px;
}

.card .card-footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: .75rem 1.25rem;
  background-color: #f7f7f9;
  border-top: 1px solid rgba(0,0,0,.125);
}
.card .card-footer:last-child {
  border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
}
  .pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
  }
  .pagination li {
    display: inline;
  }
  .pagination li  a, .pagination  li  span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #337ab7;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px;
  }
  .pagination li:first-child a, .pagination  li:first-child  span {
    margin-left: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
  }
  
  .pagination li a:hover, .pagination li span:hover, .pagination li  a:focus, .pagination  li  span:focus {
      z-index: 2;
      color: #23527c;
      background-color: #eeeeee;
      border-color: #ddd;
  }
  .pagination .active a, .pagination .active span, .pagination .active a:hover, .pagination .active x span:hover, .pagination .active > a:focus, .pagination .active span:focus {
    z-index: 3;
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
    cursor: default;
  }

.repoDetails {
    width: 100%;
    height: auto;
    min-height: 100%;
    background : #fff;
    position: absolute;
    top: 0;
    left: 0;
    overflow-y: hidden;
}

.repoDetails .navbar{
  display: block;
}
.Owner-avatar {
  height: 150px;
}
